# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Pytest
.pytest_cache/

# IDEs
.idea/
.vscode/
*.swp

# Ignore local user test files
.user/

# Ignore training outputs
outputs/
models/
wandb/
artifacts/
multirun/
